In [6]:
import pandas as pd
import numpy as np
import json
import re

In [3]:
df = pd.read_csv("the-american-soldier-classifications-final_tasks.csv") 
df.head()

,Unnamed: 0,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value
0,0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
1,1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
2,2,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T1,Are there any errors in the transcription?,No
3,3,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for erasting the time that we wa...
4,4,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...

In [4]:
df = df.drop(columns=["Unnamed: 0"])

In [5]:
df.head()

,key,classification_id,user_name,subject_ids,image_id,workflow_name,task,task_label,value
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...
2,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T1,Are there any errors in the transcription?,No
3,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for erasting the time that we wa...
4,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394141 entries, 0 to 1394140
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   key                1394141 non-null  int64
 1   classification_id  1394141 non-null  int64
 2   user_name          1394141 non-null  object
 3   subject_ids        1394141 non-null  int64
 4   image_id           1394141 non-null  object
 5   workflow_name      1394141 non-null  object
 6   task               1394141 non-null  object
 7   task_label         1394114 non-null  object
 8   value              1015134 non-null  object
dtypes: int64(3), object(6)
memory usage: 95.7+ MB

In [25]:
# fill na values in value column
re.search("hi", "hello") is None

True

In [27]:
# find rows of dataset that contain newlines
nl = []
two_nl = []
nlp_or_pnl = []

for i in range(len(df['value'])):
    value = df['value'][i]
    # for just a newline: '\n'
    match = re.search('\n', value)
    if match is not None:
        newlines.append(i)
    # for a double newline: '\n\n'
    # for a newline and paragraph next to one another: '\n[paragraph]' or '[paragraph]\n'

In [34]:
test_string = 'hello \n my name is chase \n\n and i like \n[paragraph] to read \n \n a lot \n [paragraph] do you?'

In [36]:
re.search('\n', test_string)

In [29]:
df['value'][30]

'95. Do you feel that you have been given your fair share of furloughs and passes since you have been in this camp?\nI have had my fair share of passes, but not of furloughs\n96. Up to now, has the war made things better or worse for your family and friends back home (such things as jobs, pay, and living conditions)?\nThings are a lot better\n97. If you have any further remarks you would like to make on any subject please write them below as fully as you like.\nI see no need for wasting the time that we wast in school + the time that we have to learn thing are entirely to short for us to really take them in and learn them. '