In [167]:
import numpy as np
import pandas as pd
import json

In [168]:
df = pd.read_csv('the-american-soldier-classifications-final.csv')

In [169]:
df.head()

,key,classification_id,user_name,subject_ids,image_id,workflow_name,annotations
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""22:00 to 23:00 at night..."
1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""22:00 to 23:00 at night..."
2,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""I see no need for erast..."
3,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""I see no need for wasti..."
4,4,82482029,not-logged-in-e6adad6d6c2d1af8d9a3,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,"[{""task"":""T0"",""value"":""I see no need for wasti..."

In [170]:
# what is the maximum number of tasks for one image
max_tasks = 0
for i in df.index:
    json_annotation = json.loads(df.annotations[i])
    n_tasks = len(json_annotation)
    if n_tasks > max_tasks:
        max_tasks = n_tasks
max_tasks

18

In [171]:
annotations_cols = []
for i in range(18):
    task = 'T' + str(i)
    annotations_cols += [task, task + "_label", task + "_value"]
annotations_cols

['T0',
 'T0_label',
 'T0_value',
 'T1',
 'T1_label',
 'T1_value',
 'T2',
 'T2_label',
 'T2_value',
 'T3',
 'T3_label',
 'T3_value',
 'T4',
 'T4_label',
 'T4_value',
 'T5',
 'T5_label',
 'T5_value',
 'T6',
 'T6_label',
 'T6_value',
 'T7',
 'T7_label',
 'T7_value',
 'T8',
 'T8_label',
 'T8_value',
 'T9',
 'T9_label',
 'T9_value',
 'T10',
 'T10_label',
 'T10_value',
 'T11',
 'T11_label',
 'T11_value',
 'T12',
 'T12_label',
 'T12_value',
 'T13',
 'T13_label',
 'T13_value',
 'T14',
 'T14_label',
 'T14_value',
 'T15',
 'T15_label',
 'T15_value',
 'T16',
 'T16_label',
 'T16_value',
 'T17',
 'T17_label',
 'T17_value']

In [172]:
colnames = ['key', 'classification_id', 'user_name', 'subject_ids', 'image_id', 'workflow_name'] + annotations_cols
colnames

['key',
 'classification_id',
 'user_name',
 'subject_ids',
 'image_id',
 'workflow_name',
 'T0',
 'T0_label',
 'T0_value',
 'T1',
 'T1_label',
 'T1_value',
 'T2',
 'T2_label',
 'T2_value',
 'T3',
 'T3_label',
 'T3_value',
 'T4',
 'T4_label',
 'T4_value',
 'T5',
 'T5_label',
 'T5_value',
 'T6',
 'T6_label',
 'T6_value',
 'T7',
 'T7_label',
 'T7_value',
 'T8',
 'T8_label',
 'T8_value',
 'T9',
 'T9_label',
 'T9_value',
 'T10',
 'T10_label',
 'T10_value',
 'T11',
 'T11_label',
 'T11_value',
 'T12',
 'T12_label',
 'T12_value',
 'T13',
 'T13_label',
 'T13_value',
 'T14',
 'T14_label',
 'T14_value',
 'T15',
 'T15_label',
 'T15_value',
 'T16',
 'T16_label',
 'T16_value',
 'T17',
 'T17_label',
 'T17_value']

In [173]:
res_df = pd.DataFrame(index=range(len(df)), columns=colnames)
res_df

,key,classification_id,user_name,subject_ids,image_id,workflow_name,T0,T0_label,T0_value,T1,...,T14_value,T15,T15_label,T15_value,T16,T16_label,T16_value,T17,T17_label,T17_value
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
res_df.key = df.key.copy()
res_df.classification_id = df.classification_id.copy()
res_df.user_name = df.user_name.copy()
res_df.subject_ids = df.subject_ids.copy()
res_df.image_id = df.image_id.copy()
res_df.workflow_name = df.workflow_name.copy()

In [175]:
for i in res_df.index:
    json_annotations = json.loads(df.annotations[i])
    for j in range(len(json_annotations)):
        task = 'T' + str(j)
        res_df.at[i, task] = json_annotations[j]["task"] if "task" in json_annotations[j] else ""
        res_df.at[i, task + "_label"] = json_annotations[j]["task_label"] if "task_label" in json_annotations[j] else ""
        res_df.at[i, task + "_value"] = json_annotations[j]["value"] if "value" in json_annotations[j] else ""

In [176]:
res_df = res_df.fillna("<none>")
res_df

,key,classification_id,user_name,subject_ids,image_id,workflow_name,T0,T0_label,T0_value,T1,...,T14_value,T15,T15_label,T15_value,T16,T16_label,T16_value,T17,T17_label,T17_value
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...,T1,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
2,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for erasting the time that we wa...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
3,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
4,4,82482029,not-logged-in-e6adad6d6c2d1af8d9a3,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284529,284529,164831187,egitre,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284530,284530,164863088,BobbyV,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284531,284531,164865725,AlanaEve,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284532,284532,164888363,hansonca96,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284533,284533,165069422,hansonca96,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>

In [177]:
import re

In [178]:
# get all value columns
value_cols = ['T' + str(x) + '_value' for x in range(18)]
value_cols

['T0_value',
 'T1_value',
 'T2_value',
 'T3_value',
 'T4_value',
 'T5_value',
 'T6_value',
 'T7_value',
 'T8_value',
 'T9_value',
 'T10_value',
 'T11_value',
 'T12_value',
 'T13_value',
 'T14_value',
 'T15_value',
 'T16_value',
 'T17_value']

In [179]:
for col in value_cols:
    res_df[col] = res_df[col].astype(str)

In [180]:
res_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284534 entries, 0 to 284533
Data columns (total 60 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                284534 non-null  int64
 1   classification_id  284534 non-null  int64
 2   user_name          284534 non-null  object
 3   subject_ids        284534 non-null  int64
 4   image_id           284534 non-null  object
 5   workflow_name      284534 non-null  object
 6   T0                 284534 non-null  object
 7   T0_label           284534 non-null  object
 8   T0_value           284534 non-null  object
 9   T1                 284534 non-null  object
 10  T1_label           284534 non-null  object
 11  T1_value           284534 non-null  object
 12  T2                 284534 non-null  object
 13  T2_label           284534 non-null  object
 14  T2_value           284534 non-null  object
 15  T3                 284534 non-null  object
 16  T3_label           284534 non-null  object
 17  T3_value           284534 non-null  object
 18  T4                 284534 non-null  object
 19  T4_label           284534 non-null  object
 20  T4_value           284534 non-null  object
 21  T5                 284534 non-null  object
 22  T5_label           284534 non-null  object
 23  T5_value           284534 non-null  object
 24  T6                 284534 non-null  object
 25  T6_label           284534 non-null  object
 26  T6_value           284534 non-null  object
 27  T7                 284534 non-null  object
 28  T7_label           284534 non-null  object
 29  T7_value           284534 non-null  object
 30  T8                 284534 non-null  object
 31  T8_label           284534 non-null  object
 32  T8_value           284534 non-null  object
 33  T9                 284534 non-null  object
 34  T9_label           284534 non-null  object
 35  T9_value           284534 non-null  object
 36  T10                284534 non-null  object
 37  T10_label          284534 non-null  object
 38  T10_value          284534 non-null  object
 39  T11                284534 non-null  object
 40  T11_label          284534 non-null  object
 41  T11_value          284534 non-null  object
 42  T12                284534 non-null  object
 43  T12_label          284534 non-null  object
 44  T12_value          284534 non-null  object
 45  T13                284534 non-null  object
 46  T13_label          284534 non-null  object
 47  T13_value          284534 non-null  object
 48  T14                284534 non-null  object
 49  T14_label          284534 non-null  object
 50  T14_value          284534 non-null  object
 51  T15                284534 non-null  object
 52  T15_label          284534 non-null  object
 53  T15_value          284534 non-null  object
 54  T16                284534 non-null  object
 55  T16_label          284534 non-null  object
 56  T16_value          284534 non-null  object
 57  T17                284534 non-null  object
 58  T17_label          284534 non-null  object
 59  T17_value          284534 non-null  object
dtypes: int64(3), object(57)
memory usage: 130.2+ MB

In [181]:
p_regex_pattern = "[(\{)|(\[)][p|P][a|A][r|R][a|A][g|G][r|R][a|A][p|P][h|H][(\})|(\])]"

In [182]:
p_end_regex_pattern = "[(\{)|(\[)][(\\\\)^(\/)][p|P][a|A][r|R][a|A][g|G][r|R][a|A][p|P][h|H][(\})|(\])]"

In [186]:
def count_paragraphs(data):
    p_counts = 0
    p_end_counts = 0
    for index, row in data.iterrows():
        for col in value_cols:
            p_locs = [m.start() for m in re.finditer(p_regex_pattern, str(row[col]))]
            p_end_locs = [m.start() for m in re.finditer(p_end_regex_pattern, str(row[col]))]
            p_counts += len(p_locs)
            p_end_counts += len(p_end_locs)
    return (p_counts, p_end_counts)

In [187]:
p_counts1 = count_paragraphs(res_df)

In [188]:
p_counts1

(57135, 463)

In [189]:
# test = ['this has no paragraph tags', 'this has one [paragraph] tag', 'this has two [paragraph] {paragraph} tags']
# [re.sub("[(\{)|(\[)][p|P][a|A][r|R][a|A][g|G][r|R][a|A][p|P][h|H][(\})|(\])]", "\n\n", x) for x in test]

In [190]:
# test1 = ['this has no end paragraph tags', 'this has one end [\paragraph] tag', 'this has two end [\paragraph] {\paragraph} tags', 'this has a weird [/paragraph] tag']
# print(test1)
# print([re.sub(p_end_regex_pattern, "", x) for x in test1])

In [191]:
# res_df.loc[122749, 'T1_value']

In [192]:
# replace all occurrences of [paragraph] tags with \n
for index, row in res_df.iterrows():
    for col in value_cols:
        # replace all occurrences of [paragraph] tags with \n
        res_df.at[index, col] = re.sub(p_regex_pattern, "\n\n", res_df.at[index, col])

        # remove all occurrences of [/paragraph]
        res_df.at[index, col] = re.sub(p_end_regex_pattern, "", res_df.at[index, col])

        # convert all instances of two or more \n next to each other (regardless of spacing) to two side by side \n
        res_df.at[index, col] = re.sub("(\s*\n\s*)(\s*\n\s*)+", "\n\n", res_df.at[index, col])
res_df

,key,classification_id,user_name,subject_ids,image_id,workflow_name,T0,T0_label,T0_value,T1,...,T14_value,T15,T15_label,T15_value,T16,T16_label,T16_value,T17,T17_label,T17_value
0,0,77461186,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
1,1,77461619,tkotwim,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,22:00 to 23:00 at night and feed us again. Tha...,T1,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
2,2,82481932,not-logged-in-fe4982767bd4e72c80f4,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for erasting the time that we wa...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
3,3,82481999,not-logged-in-be8b812afab887d82fe0,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
4,4,82482029,not-logged-in-e6adad6d6c2d1af8d9a3,14435268,cebf09d289c8b9c842aa339b17430007.jpg,Transcribe,T0,Transcribe the handwritten portion of the imag...,I see no need for wasting the time that we was...,<none>,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284529,284529,164831187,egitre,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284530,284530,164863088,BobbyV,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284531,284531,164865725,AlanaEve,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284532,284532,164888363,hansonca96,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>
284533,284533,165069422,hansonca96,30641452,test.jpeg,Attitudes of and toward Negroes (Roll 11),T1,Our objective is to capture as much non-recurr...,A document that contains Q.78,T2,...,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>,<none>

In [193]:
p_counts2 = count_paragraphs(res_df)
p_counts2

(0, 0)

In [194]:
res_df.sort_values(by=['image_id'], inplace=True)

In [195]:
res_df.loc[76, 'T1_value']

'<none>'

In [196]:
res_df.loc[173861, 'T1_value']

"My viewpoint on some of these questions are just an opinion due to the fact that I am a clerk and do not get the technical training that the different sections do.\n\nDue to an allergy that seems to be incurable I have hay fever that makes me allergic to exposure.  Exposure causes an eruption of my left ear and gives me chest colds, a runny nose and causes me a great deal of discomfort.  That is the reason I stated I would be better fitted to serve my country as a defense worker.  Due to pride I haven't tried to be discharged but have been taking treatments at the hospital for 3 months but no improvement has been made in my condition.  I believe rigid examinations of eye, ear, nose and throat should be given at induction centers.  Much more so than has been given to date."

In [197]:
res_df.to_csv('the-american-soldier-classifications-final-cleaned-newlines_v4.csv')