In [1]:
import os
os.getcwd()

'/Users/chasedawson/dev/sdad/amsoldier/src'

In [2]:
!ln -s ../../text_analysis/text_analysis.py text_analysis.py
import text_analysis as ta

ln: text_analysis.py: File exists

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/chasedawson/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/chasedawson/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/chasedawson/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
import pandas as pd

In [5]:
s144_pos = pd.read_csv("../data/s144_pos_topics.csv", index_col = 0)
s144_pos.head()

,id,subject_id,image_name,document_type,q85,sentiment,score,topic
4,3,15901768,2521127-37-0004.jpg,A document that contains Q.85,concerning question i havent the slightest ide...,POSITIVE,0.997207,1
6,5,15901787,2521127-37-0006.jpg,A document that contains Q.85,the army would be swell for a certain amount o...,POSITIVE,0.890350,0
11,10,15901828,2521127-37-0011.jpg,A document that contains Q.85,the army is in so bad but i am reader to be ho...,POSITIVE,0.927433,0
12,11,15901835,2521127-37-0012.jpg,A document that contains Q.85,may god bless us all,POSITIVE,0.999380,1
13,12,15901840,2521127-37-0013.jpg,A document that contains Q.85,there is one thing. i do believe that the colo...,POSITIVE,0.998074,-1

In [7]:
words = ta.unnest_tokens(s144_pos[s144_pos.topic == 0], "word", "q85")
words = ta.remove_stop_words(words, "word")
words = ta.stem(words, "word")
words.head()

   id     word
1   6     armi
2   6    would
4   6    swell
7   6  certain
8   6   amount

In [9]:
cooc_df = ta.pairwise_count(words, "word", "id")
cooc_df.head()

    item1  item2  count
2    armi  think     96
6     men   armi     64
8     get   armi     62
10  would   armi     56
12  think    war     56

In [12]:
cor_df = ta.pairwise_cor(words, "word", "id", cooc_df = cooc_df)
cor_df.head()

100%|██████████| 35825/35825 [00:00<00:00, 76191.78it/s]

,item1,item2,count,has_item1_only,has_item2_only,has_both,has_neither,phi
2,armi,think,96,34,14,35,22,0.112611
6,men,armi,64,9,44,25,27,0.113936
8,get,armi,62,7,43,26,29,0.186466
10,would,armi,56,12,42,27,24,0.056949
12,think,war,56,26,28,23,28,-0.030557